<!DOCTYPE html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
  <div class="container-fill">
    <header class="bg-dark">
      <nav class="navbar navbar-expand navbar-light justify-content-right d-flex flex-row-reverse">


        <form class="form-inline mr-2" action="Controller?op=vamarca" method="post">
          <div class="form-group ">
            <select class="form-control" name="marca" id="marca" onchange="this.form.submit()">
              <option value="" disabled selected>Elija marca
              </option>
              <% for (Marca marca : marcas) { %>
                <option value="<%=marca.getId()%>">
                  <%=marca.getNombre()%>
                </option>
                <% } %>
            </select>
          </div>
        </form>

        <form action="Controller?op=vaorder" method="post">
          <div class="form-inline mr-2">
            <select class="form-control" name="order" id="order"
              onchange="this.form.submit()">
              <option value="" disabled selected>Ordenada por
              </option>
              <option value="precio asc">Precio ascendente
              </option>
              <option value="precio desc">Precio descendente
              </option>
            </select>
          </div>
        </form>
        
 
      </nav>
    </header>

    <div class="row justify-content-center m-5 ">
      <div class="col-4">
        <div class="card border-dark rounded shadow flex-fill">
          <img class="card-img-top"
            src="https://storage.googleapis.com/clicars-storage-prod-public/photos/30/81/01/0b92e5607b0e7fbb88d1fb9ce89fa7c4-2354844-788ff3e47733943ab4dc26be8bc196d5dbdb0121-vehicle-gallery-medium.jpg"
            alt="" />
          <div class="card-body bg-dark text-white">
            <h4 class="card-text">Peugeot 2008</h4>
            <p class="card-text">Precio: 13490&euro;</p>
            <p class="card-text">AÑO | KMs | CV</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card border-dark rounded shadow flex-fill">
          <img class="card-img-top"
            src="https://storage.googleapis.com/clicars-storage-prod-public/photos/30/81/01/0b92e5607b0e7fbb88d1fb9ce89fa7c4-2354844-788ff3e47733943ab4dc26be8bc196d5dbdb0121-vehicle-gallery-medium.jpg"
            alt="" />
          <div class="card-body bg-dark text-white">
            <h4 class="card-text">Peugeot 2008</h4>
            <p class="card-text">Precio: 13490&euro;</p>
            <p class="card-text">AÑO | KMs | CV</p>
          </div>
        </div>
      </div>
    </div>


  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>